# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# OpenGL-specific
*.log
*.tmp

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Others
*.DS_Store
